<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Money Master</h3>
          <!-- <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
            </ul>
          </nav> -->
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Personal finance made easy</h1>
        <p class="lead">Consolidate all your bank accounts in a single place. Spend analysis, bill reminders, savings advice and lots more! </p>
        <p class="lead">
          <a href="users/sign_in" class="check-out-btn btn btn-lg btn-success">CHECK OUT</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright &copy; Money Master 2017</p>
        </div>
      </div>

    </div>

  </div>

</div>


<!-- <script>
    $(".check-out-btn").on("click", function() {
      $('body').css("background", 'none');
      // $('body').removeClass("background-cover");

    });

</script> -->