base: &base
  adapter: postgresql
  encoding: utf8
  username: postgres
  password: 
  host: 127.0.0.1
  pool: 5

development:
  <<: *base
  database: money_manage_development

test:
  <<: *base
  database: money_manage_test

staging:
  <<: *base
  database: money_manage_staging

production:
  <<: *base
  database: money_manage_production