<p id="notice"><%= notice %></p>

<h3>Choose API to use</h3>

<%= link_to image_tag('truelayer.png', class: 'img-rounded link-account-thumb'), truelayer_path %>

<%= link_to image_tag('starling.png', class: 'img-rounded link-account-thumb'), starling_bank_path %>
