<p id="notice"><%= notice %></p>

<h1>Bank Accounts</h1>

<% @bank_accounts.each_with_index do |bank_account, i| %>
  <%= link_to bank_account do %>
    <i class="fa fa-university fa-4x img-rounded bank-account-thumb"></i>
  <% end %>
  </tr>
<% end %>

<br>

<%= link_to 'Add another Bank Account', connect_path %>

