@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */
body {
   background-image:none;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.bank-account-thumb {
  background-color: #eee;
  width: 100px;
  height: 100px; 
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: center;
  padding-top: 20px;


}

.bank-account-section {
  a i{
    color: #8e8f91;
  }
}
.link-account-thumb {
  background-color: #eee;
  width: 230px;
  height: 100px; 
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: center;
  border: 2px solid #ccc; 
}

.account-show-panel {
  margin-right: 15px;
}
  
.issue-box {
  height: 80px;
  margin-left: 15px;
  background-color: #eee;
  padding-top: 5px; 
}

.header-navbar {
  background-color: #1ecbce;
}

.header-navbar a {
  color: #606566;
}